/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: sweetPea;
    src: url("fonts/sweetpea.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body,
li {
    padding: 0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #000000;
    background-color: white;
}

.site-container {
    max-width: 1000px;
    margin: auto;
}

/* Header */

#logo img {
    width: 80%;
    height: auto;
    margin: 5% 10%;
}

@media all and (min-width: 600px) {
    #logo img {
        width: 40%;
        height: auto;
        margin: 2.5% 30%;
    }
}

@media all and (min-width: 1000px) {
    #logo img {
        width: 30%;
        height: auto;
        margin: 2.5% 35%;
    }
}

/* Container */

#container {
    margin-bottom: 5%;
}

@media all and (min-width: 600px) {
    #container::after {
        content: "";
        clear: both;
        display: block;
    }
}

.cycle-slideshow {
    margin-bottom: 5%;
}

.cycle-slideshow img {
    width: 100%;
    height: auto;
}

section {
    width: 95%;
    margin: 0 2.5%;
}

@media all and (min-width: 600px) {
    .section-one {
        width: 46%;
        float: right;
        margin-left: 0;
    }
}

@media all and (min-width: 600px) {
    .section-two {
        width: 46%;
        float: left;
        margin-right: 0;
    }

    .education h2 {
        margin-top: 0;
    }
}

@media all and (min-width: 600px) {
    .section-two h2,
    .section-two h3,
    .section-two p {
        text-align: right;
    }
}

h2 {
    font-family: sweetpea;
    color: #df3326;
    font-size: 2.2em;
    margin: 7% 0 1.5%;
}

h3 {
    color: #4667a3;
    margin: 0;
    text-transform: uppercase;
}

.h3-black {
    color: black;
    text-transform: none;
}

.information h2 {
    margin-top: 0;
    margin-bottom: 1.5%;
}

.information p {
    margin: 0.5% 0 1.75%;
}

.p-italic {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 0;
    margin-top: 1.75%;
}

ul {
    margin-top: 1.75%;
}

.education-p {
    margin-top: 1.75%;
}

.education-p p {
    margin: 0;
}

.h3-extraSpace {
    margin-top: 1em;
}

.skills p {
    margin: 0.5% 0 1.75%;
}

.interests p {
    margin: 0.5% 0 1.75%;
}

.activities p {
    margin: 0;
}

/* Footer */

footer {
    margin-top: 7%;
    margin-bottom: 20%;
}

.footer ul {
    padding: 0;
}

.footer li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 50%;
}

.footer img {
    height: 50px;
    width: auto;
}

.top-list-items {
    margin-bottom: 5%;
}

#scrollUp {
    bottom: 0;
    right: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    color: #4667a3;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ebebeb, #dedede);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#dedede));
    background-image: -webkit-linear-gradient(top, #ebebeb, #dedede);
    background-image: -o-linear-gradient(top, #ebebeb, #dedede);
    background-image: linear-gradient(to bottom, #ebebeb, #dedede);
    background-repeat: repeat-x;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}
