html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: sweetPea;
    src: url("fonts/sweetpea.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    padding: 0;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #000000;
    background-color: white;
}

.site-container {
    max-width: 1000px;
}

#logo img {
    width: 80%;
    height: auto;
    margin: 5% 10%;
}
