/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: sweetPea;
    src: url("fonts/sweetpea.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body,
li {
    padding: 0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #000000;
    background-color: white;
}

.site-container {
    max-width: 1000px;
}

/* Header */

#logo img {
    width: 80%;
    height: auto;
    margin: 5% 10%;
}

/* Container */

#container {
    margin-bottom: 5%;
}

.headshot {
    margin-bottom: 5%;
}

.headshot img {
    width: 100%;
    height: auto;
}

section {
    width: 95%;
    margin: 0 2.5%;
}

h2 {
    font-family: sweetpea;
    color: #df3326;
    font-size: 2.2em;
    margin: 7% 0 1.5%;
}

h3 {
    color: #4667a3;
    margin: 0;
    text-transform: uppercase;
}

.h3-black {
    color: black;
    text-transform: none;
}

.information h2 {
    margin-top: 0;
    margin-bottom: 1.5%;
}

.information p {
    margin: 0.5% 0 1.75%;
}

.p-italic {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 0;
    margin-top: 1.75%;
}

ul {
    margin-top: 1.75%;
}

.education-p {
    margin-top: 1.75%;
}

.education-p p {
    margin: 0;
}

.h3-extraSpace {
    margin-top: 1em;
}

.skills p {
    margin: 0.5% 0 1.75%;
}

.interests p {
    margin: 0.5% 0 1.75%;
}

.activities p {
    margin: 0;
}

/* Footer */

footer {
    margin-top: 7%;
}

.footer ul {
    padding: 0;
}

.footer li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 50%;
}

.footer img {
    height: 50px;
    width: auto;
}

.top-list-items {
    margin-bottom: 5%;
}
